In [81]:
# third party
import numpy
import pandas
import numpy as np
from tabulate import tabulate

In [64]:
data = pandas.read_csv('olympics.csv', index_col=0, skiprows=1)
description = data.describe()
print(tabulate(description, headers="keys", tablefmt="orgtbl"))

|       |   № Summer |      01 ! |     02 ! |      03 ! |    Total |   № Winter |   01 !.1 |   02 !.1 |   03 !.1 |   Total.1 |   № Games |    01 !.2 |   02 !.2 |    03 !.2 |   Combined total |
|-------+------------+-----------+----------+-----------+----------+------------+----------+----------+----------+-----------+-----------+-----------+----------+-----------+------------------|
| count |  147       |  147      |  147     |  147      |   147    |  147       | 147      | 147      | 147      |  147      |  147      |  147      |   147    |  147      |           147    |
| mean  |   13.4762  |   65.4286 |   64.966 |   69.7959 |   200.19 |    6.70068 |  13.0476 |  13.034  |  12.898  |   38.9796 |   20.1769 |   78.4762 |    78    |   82.6939 |           239.17 |
| std   |    7.07236 |  405.55   |  399.31  |  427.187  |  1231.31 |    7.43319 |  80.7992 |  80.6344 |  79.5884 |  240.917  |   13.257  |  485.013  |   478.86 |  505.855  |          1469.07 |
| min   |    1       |    0      |    0     |    0      |     0    |    0       |   0      |   0      |   0      |    0      |    1      |    0      |     0    |    0      |             1    |
| 25%   |    8       |    0      |    1     |    1      |     2    |    0       |   0      |   0      |   0      |    0      |   11      |    0      |     1    |    1      |             2.5  |
| 50%   |   13       |    3      |    4     |    6      |    12    |    5       |   0      |   0      |   0      |    0      |   15      |    3      |     4    |    7      |            12    |
| 75%   |   18.5     |   24      |   28     |   29      |    86    |   10       |   1      |   2      |   1      |    5      |   27      |   25.5    |    29    |   32.5    |            89    |
| max   |   27       | 4809      | 4775     | 5130      | 14714    |   22       | 959      | 958      | 948      | 2865      |   49      | 5768      |  5733    | 6078      |         17579    |

In [65]:
data.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [66]:
data.tail()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [67]:
print((data["Combined total"].sum() - data.loc["Totals"]["Combined total"]) * 2)
print(data["Combined total"].sum())
print(data["Combined total"]

SyntaxError: unexpected EOF while parsing (<ipython-input-67-85598e5eb101>, line 3)

In [68]:
new_columns = ("summer_participations",
	       "summer_gold",
	       "summer_silver",
	       "summer_bronze",
	       "summer_total",
	       "winter_participations",
	       "winter_gold",
	       "winter_silver",
	       "winter_bronze",
	       "winter_total",
	       "total_participations",
	       "total_gold",
	       "total_silver",
	       "total_bronze",
	       "total_combined")
assert len(new_columns) == len(data.columns)

column_remap = dict(zip(data.columns, new_columns))

In [69]:
#Check Remaping
if data.columns[0] != "summer_participations":
    for column in data.columns:
        data.rename(columns={column:column_remap[column]}, inplace=True)

data.head(1)

,summer_participations,summer_gold,summer_silver,summer_bronze,summer_total,winter_participations,winter_gold,winter_silver,winter_bronze,winter_total,total_participations,total_gold,total_silver,total_bronze,total_combined
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2

In [70]:
# split the index by '('
names_ids = data.index.str.split('\s\(')
data.index = names_ids.str[0]
data['ID'] = names_ids.str[1].str[:3]
data = data.drop('Totals')

Index([          'AFG)',           'ALG)',           'ARG)',           'ARM)',
           'ANZ) [ANZ]', 'AUS) [AUS] [Z]',           'AUT)',           'AZE)',
                 'BAH)',           'BRN)',
       ...
                 'UZB)',           'VEN)',           'VIE)',           'ISV)',
           'YUG) [YUG]',     'IOP) [IOP]',     'ZAM) [ZAM]',     'ZIM) [ZIM]',
           'ZZX) [ZZX]',              nan],
      dtype='object', length=147)
Float64Index([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
              ...
              nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
             dtype='float64', length=147)
Float64Index([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
              ...
              nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
             dtype='float64', length=147)

In [71]:
data.head()

,summer_participations,summer_gold,summer_silver,summer_bronze,summer_total,winter_participations,winter_gold,winter_silver,winter_bronze,winter_total,total_participations,total_gold,total_silver,total_bronze,total_combined,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

What is the first country in in the data-frame?

In [77]:
def answer_zero():
    return data.iloc[0].name
answer_zero()

'Afghanistan'

Which country has won the most gold medals in summer games?

In [87]:
def answer_one():
    return data.summer_gold.argmax()
answer_one()

C:\Users\simra\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

'United States'

Which country had the biggest difference between their summer and winter gold medal counts?

In [88]:
def answer_two():
    return (data.summer_gold - data.winter_gold).abs().argmax()

answer_two()

C:\Users\simra\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

'United States'

Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count?


$$ \frac{Summer~Gold - Winter~Gold}{Total~Gold} $$


Only include countries that have won at least 1 gold in both summer and winter.

In [91]:
def answer_three():
    elegible = data[(data.summer_gold>=1) & (data.winter_gold>=1)]
    ratios = (elegible.summer_gold - elegible.winter_gold).abs()/elegible.total_gold
    return ratios.argmax()

answer_three()

C:\Users\simra\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:15: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  from ipykernel import kernelapp as app

'Bulgaria'

Write a function that creates a Series called "Points" which is a weighted value where each gold medal(Gold.2) counts for 3 points, silver medals (Silver.2) for 2 points, and bronze medals (Bronze.2) for 1 point. The function should return only the column (a Series object) which you created.

In [92]:
def answer_four():
    points = numpy.zeros(len(data))
    points += data.total_gold * 3
    points += data.total_silver * 2
    points += data.total_bronze
    return pandas.Series(points, index=data.index)

In [97]:
points = answer_four()
print(points)
assert points.loc["United States"] == 5684

Afghanistan                            2.0
Algeria                               27.0
Argentina                            130.0
Armenia                               16.0
Australasia                           22.0
Australia                            923.0
Austria                              569.0
Azerbaijan                            43.0
Bahamas                               24.0
Bahrain                                1.0
Barbados                               1.0
Belarus                              154.0
Belgium                              276.0
Bermuda                                1.0
Bohemia                                5.0
Botswana                               2.0
Brazil                               184.0
British West Indies                    2.0
Bulgaria                             411.0
Burundi                                3.0
Cameroon                              12.0
Canada                               846.0
Chile                                 24.0
China                               1120.0
Colombia                              29.0
Costa Rica                             7.0
Ivory Coast                            2.0
Croatia                               67.0
Cuba                                 420.0
Cyprus                                 2.0
                                     ...
Spain                                268.0
Sri Lanka                              4.0
Sudan                                  2.0
Suriname                               4.0
Sweden                              1217.0
Switzerland                          630.0
Syria                                  6.0
Chinese Taipei                        32.0
Tajikistan                             4.0
Tanzania                               4.0
Thailand                              44.0
Togo                                   1.0
Tonga                                  2.0
Trinidad and Tobago                   27.0
Tunisia                               19.0
Turkey                               191.0
Uganda                                14.0
Ukraine                              220.0
United Arab Emirates                   3.0
United States                       5684.0
Uruguay                               16.0
Uzbekistan                            38.0
Venezuela                             18.0
Vietnam                                4.0
Virgin Islands                         2.0
Yugoslavia                           171.0
Independent Olympic Participants       4.0
Zambia                                 3.0
Zimbabwe                              18.0
Mixed team                            38.0
Name: total_gold, Length: 146, dtype: float64

In [99]:
census_data = pandas.read_csv('census.csv')
census_data.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [100]:
class CensusVariables:
    state_name = "STNAME"
    county_name = "CTYNAME"
    census_population = "CENSUS2010POP"
    region = "REGION"
    population_2014 = "POPESTIMATE2014"
    population_2015 = "POPESTIMATE2015"
    population_estimates = ["POPESTIMATE2010",
			    "POPESTIMATE2011",
			    "POPESTIMATE2012",
			    "POPESTIMATE2013",
			    population_2014,
			    population_2015]
    county_level = 50
    summary_level = "SUMLEV"

In [106]:
counties = census_data[census_data[
    CensusVariables.summary_level]==CensusVariables.county_level]
#print(counties)
# this throws off the numeric index for the argmax method so reset it
counties = counties.reset_index()
#print(counties)
# but the last question wants the original index
counties_original_index = census_data[census_data[
    CensusVariables.summary_level]==CensusVariables.county_level]
print(counties_original_index)

      SUMLEV  REGION  DIVISION  STATE  COUNTY     STNAME             CTYNAME  \
1         50       3         6      1       1    Alabama      Autauga County
2         50       3         6      1       3    Alabama      Baldwin County
3         50       3         6      1       5    Alabama      Barbour County
4         50       3         6      1       7    Alabama         Bibb County
5         50       3         6      1       9    Alabama       Blount County
6         50       3         6      1      11    Alabama      Bullock County
7         50       3         6      1      13    Alabama       Butler County
8         50       3         6      1      15    Alabama      Calhoun County
9         50       3         6      1      17    Alabama     Chambers County
10        50       3         6      1      19    Alabama     Cherokee County
11        50       3         6      1      21    Alabama      Chilton County
12        50       3         6      1      23    Alabama      Choctaw County
13        50       3         6      1      25    Alabama       Clarke County
14        50       3         6      1      27    Alabama         Clay County
15        50       3         6      1      29    Alabama     Cleburne County
16        50       3         6      1      31    Alabama       Coffee County
17        50       3         6      1      33    Alabama      Colbert County
18        50       3         6      1      35    Alabama      Conecuh County
19        50       3         6      1      37    Alabama        Coosa County
20        50       3         6      1      39    Alabama    Covington County
21        50       3         6      1      41    Alabama     Crenshaw County
22        50       3         6      1      43    Alabama      Cullman County
23        50       3         6      1      45    Alabama         Dale County
24        50       3         6      1      47    Alabama       Dallas County
25        50       3         6      1      49    Alabama       DeKalb County
26        50       3         6      1      51    Alabama       Elmore County
27        50       3         6      1      53    Alabama     Escambia County
28        50       3         6      1      55    Alabama       Etowah County
29        50       3         6      1      57    Alabama      Fayette County
30        50       3         6      1      59    Alabama     Franklin County
...      ...     ...       ...    ...     ...        ...                 ...
3162      50       2         3     55     129  Wisconsin     Washburn County
3163      50       2         3     55     131  Wisconsin   Washington County
3164      50       2         3     55     133  Wisconsin     Waukesha County
3165      50       2         3     55     135  Wisconsin      Waupaca County
3166      50       2         3     55     137  Wisconsin     Waushara County
3167      50       2         3     55     139  Wisconsin    Winnebago County
3168      50       2         3     55     141  Wisconsin         Wood County
3170      50       4         8     56       1    Wyoming       Albany County
3171      50       4         8     56       3    Wyoming     Big Horn County
3172      50       4         8     56       5    Wyoming     Campbell County
3173      50       4         8     56       7    Wyoming       Carbon County
3174      50       4         8     56       9    Wyoming     Converse County
3175      50       4         8     56      11    Wyoming        Crook County
3176      50       4         8     56      13    Wyoming      Fremont County
3177      50       4         8     56      15    Wyoming       Goshen County
3178      50       4         8     56      17    Wyoming  Hot Springs County
3179      50       4         8     56      19    Wyoming      Johnson County
3180      50       4         8     56      21    Wyoming      Laramie County
3181      50       4         8     56      23    Wyoming      Lincoln County
3182      50       4         8     56      25    Wyoming      Natrona County
3183      50       4         8     56      27    Wyoming     Niobrara County
3184      50       4         8     56      29    Wyoming         Park County
3185      50       4         8     56      31    Wyoming       Platte County
3186      50       4         8     56      33    Wyoming     Sheridan County
3187      50       4         8     56      35    Wyoming     Sublette County
3188      50       4         8     56      37    Wyoming   Sweetwater County
3189      50       4         8     56      39    Wyoming        Teton County
3190      50       4         8     56      41    Wyoming        Uinta County
3191      50       4         8     56      43    Wyoming     Washakie County
3192      50       4         8     56      45    Wyoming       Weston County

      CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  ...  \
1             54571              54571            54660  ...
2            182265             182265           183193  ...
3             27457              27457            27341  ...
4             22915              22919            22861  ...
5             57322              57322            57373  ...
6             10914              10915            10887  ...
7             20947              20946            20944  ...
8            118572             118586           118437  ...
9             34215              34170            34098  ...
10            25989              25986            25976  ...
11            43643              43631            43665  ...
12            13859              13858            13841  ...
13            25833              25840            25767  ...
14            13932              13932            13880  ...
15            14972              14972            14973  ...
16            49948              49948            50177  ...
17            54428              54428            54514  ...
18            13228              13228            13208  ...
19            11539              11758            11758  ...
20            37765              37765            37796  ...
21            13906              13906            13853  ...
22            80406              80410            80473  ...
23            50251              50251            50358  ...
24            43820              43820            43803  ...
25            71109              71115            71142  ...
26            79303              79296            79465  ...
27            38319              38319            38309  ...
28           104430             104427           104442  ...
29            17241              17241            17231  ...
30            31704              31709            31734  ...
...             ...                ...              ...  ...
3162          15911              15911            15930  ...
3163         131887             131885           131967  ...
3164         389891             389938           390076  ...
3165          52410              52410            52422  ...
3166          24496              24496            24506  ...
3167         166994             166994           167059  ...
3168          74749              74749            74807  ...
3170          36299              36299            36428  ...
3171          11668              11668            11672  ...
3172          46133              46133            46244  ...
3173          15885              15885            15837  ...
3174          13833              13833            13826  ...
3175           7083               7083             7114  ...
3176          40123              40123            40222  ...
3177          13249              13247            13408  ...
3178           4812               4812             4813  ...
3179           8569               8569             8581  ...
3180          91738              91881            92271  ...
3181          18106              18106            18091  ...
3182          75450              75450            75472  ...
3183           2484               2484             2492  ...
3184          28205              28205            28259  ...
3185           8667               8667             8678  ...
3186          29116              29116            29146  ...
3187          10247              10247            10244  ...
3188          43806              43806            43593  ...
3189          21294              21294            21297  ...
3190          21118              21118            21102  ...
3191           8533               8533             8545  ...
3192           7208               7208             7181  ...

      RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  RDOMESTICMIG2014  \
1             7.242091         -2.915927         -3.012349          2.265971
2            14.832960         17.647293         21.845705         19.243287
3            -4.728132         -2.500690         -7.056824         -3.904217
4            -5.527043         -5.068871         -6.201001         -0.177537
5             1.807375         -1.177622         -1.748766         -2.062535
6           -30.953709         -5.180127         -1.130263         14.354290
7           -14.032727        -11.684234         -5.655413          1.085428
8            -6.155670         -4.611706         -5.524649         -4.463211
9            -2.731639          3.849092          2.872721         -2.287222
10            6.339327          1.113180          5.488706         -0.076806
11           -1.372935         -2.653369          0.480044          0.456017
12          -15.455274         -0.737028         -8.766391         -1.274984
13           -6.194363        -17.667705         -0.318345         -8.686428
14          -10.744102        -13.345130          4.902871          5.702648
15           -3.673524         -5.151880          7.345821          3.654485
16            0.377640          7.675579        -13.146535         -3.602859
17           -0.073423          1.065051          1.762390          1.835688
18           -4.861559         -7.504690         -6.107224        -14.645416
19          -33.930581        -10.291443         -4.313831        -22.958017
20            6.696899         -4.612668          0.740271          3.697932
21            1.729792          3.950156         -1.864936          3.084648
22           -1.404233         -1.019628          4.071247          5.087142
23          -10.749798         -5.277150        -15.236079        -11.979785
24          -15.635599        -11.308243        -16.745678         -9.344789
25            0.294677         -9.302391         -1.748807          0.267830
26            3.235576          0.822717          1.760531         -1.507057
27           -3.449988         -3.855889         -4.822706         -1.189831
28           -1.015919          2.062637         -1.931884         -1.726932
29           -5.015601         -0.646640         -3.725937          0.296745
30           -1.638750         -5.459394         -8.043702         -1.267849
...                ...               ...               ...               ...
3162         -6.873936          7.338289         -6.732724          3.510452
3163         -0.794876          0.785279         -2.215465          1.601149
3164         -0.765799          2.128860          0.038132          0.760109
3165          3.111756         -2.241873          6.292687         -0.441031
3166          4.930022         -2.404973         -4.097017         -4.906711
3167          0.316712          2.889873          0.833819         -2.406192
3168         -4.081523         -5.019090         -6.901200         -5.596471
3170          3.708956          2.637812         -3.544634         -3.334877
3171          4.868258          2.804930         16.815908         -8.026420
3172         -2.843479         15.601020         -5.895711         -8.550911
3173         -7.581980        -13.081441          3.178134         -2.970641
3174        -12.847499         15.493820         19.035533        -20.550587
3175         -1.544618         -4.202564          1.397819          6.378258
3176          2.747083          7.782673         -4.990688        -12.331633
3177         14.293649          3.961413         -8.079028         -7.017803
3178          3.322604          6.208609          3.095336         -6.017222
3179          4.995063         -4.058912         -0.812583        -10.715742
3180         -1.200428         15.547274          4.787847         -1.226133
3181         -9.802564        -11.566801         13.564556          6.125989
3182          7.189319         23.066162         24.322042         -0.958472
3183         -0.401849          0.806452         29.066295        -12.603387
3184          4.582951          8.057765          7.641997         -9.252437
3185          4.373094          5.392073          2.634593          6.055759
3186          0.958559          8.425487          4.546373          3.678069
3187        -23.741784         15.272374        -40.870074        -16.596273
3188          1.072643         16.243199         -5.339774        -14.252889
3189         -1.589565          0.972695         19.525929         14.143021
3190        -17.755986         -4.916350         -6.902954        -14.215862
3191        -11.637475         -0.827815         -2.013502        -17.781491
3192        -11.752361         -8.040059         12.372583          1.533635

      RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  RNETMIG2013  RNETMIG2014  \
1            -2.530799     7.606016    -2.626146    -2.722002     2.592270
2            17.197872    15.844176    18.559627    22.727626    20.317142
3           -10.543299    -4.874741    -2.758113    -7.167664    -3.978583
4             0.177258    -5.088389    -4.363636    -5.403729     0.754533
5            -1.369970     1.859511    -0.848580    -1.402476    -1.577232
6           -16.167247   -29.001673    -2.825524     1.507017    17.243790
7            -6.529805   -13.936612   -11.586865    -5.557058     1.184103
8            -3.376322    -5.791579    -4.092677    -5.062836    -3.912834
9             1.349468    -1.821092     4.701181     3.781439    -1.290228
10           -3.239866     6.416167     1.420264     5.757384     0.230419
11           -2.253483    -0.823761    -2.447504     0.868651     0.957636
12           -5.291205   -15.528177    -0.737028    -8.766391    -1.274984
13           -5.613667    -6.077488   -17.509958    -0.159172    -8.486280
14            3.912450   -10.816697   -13.345130     4.977157     5.776708
15           -3.123961    -3.673524    -5.151880     7.345821     3.654485
16            2.214774     2.166460    11.513368   -10.438741    -0.767822
17           -0.110260     0.513964     1.469035     2.276420     2.533249
18            2.684140    -4.861559    -7.504690    -6.107224   -14.645416
19           -5.387581   -34.017138   -10.380162    -4.403703   -23.049483
20           -0.316945     6.881460    -4.559952     0.793147     3.750759
21            3.439504     2.666763     5.099293    -0.502098     4.734577
22            7.915406    -1.031427    -0.634159     4.542916     5.593387
23           -5.107706    -9.575283    -0.776637   -12.640155    -9.503292
24          -14.687232   -15.727573   -11.378047   -16.792849    -9.368689
25            0.028141     1.375159    -8.656001    -1.029539     1.198187
26            2.067820     3.674511     1.558176     2.306047    -0.951175
27            1.190902    -3.397716    -3.803428    -4.769999    -1.136950
28           -2.082234    -0.632554     2.446383    -1.518596    -1.234901
29           -2.797536    -5.132243    -0.705426    -3.785079     0.237396
30           -2.401719     0.063029    -3.471291    -5.700261     1.553115
...                ...          ...          ...          ...          ...
3162         -5.123279    -6.747809     7.464811    -6.605691     3.638104
3163         -0.434498    -0.431504     1.162817    -1.763330     2.104796
3164         -0.719858     0.102448     3.180527     1.189727     2.077633
3165         -0.480617     3.359933    -2.011937     6.561277    -0.134227
3166         -4.397793     5.174486    -2.160399    -3.810226    -4.535615
3167         -4.557985     0.842573     3.502335     1.531624    -1.545153
3168         -3.958322    -3.733590    -4.562809    -6.442917    -5.040889
3170         -9.911169     6.736119     6.433032     0.719587     1.429233
3171          5.095861     4.868258     3.144921    17.236306    -7.608378
3172         10.916963    -2.649606    15.558684    -5.916543    -8.509402
3173        -23.300971    -7.392431   -12.636926     3.623073    -2.338590
3174         -0.070403   -12.774915    16.502720    20.093063   -19.358233
3175         18.629317    -0.982939    -3.642222     2.096729     7.071547
3176        -13.673610     3.093562     8.027411    -4.747240   -12.013555
3177        -11.899450    14.886132     4.841727    -6.903896    -5.761986
3178         -5.454164     5.191569     6.001656     2.888981    -6.224712
3179          0.933652     5.227392    -4.058912    -0.812583   -10.715742
3180          0.278940    -0.973320    17.914554     6.003143    -0.207819
3181          1.555544    -9.691801   -11.566801    13.619696     6.234414
3182         -0.061057     7.689674    23.749508    25.085233    -0.110593
3183          7.492114    -0.401849     0.806452    29.066295   -12.603387
3184         -2.878980     6.486639    11.127389    10.877797    -5.585731
3185          4.662270     4.373094     4.933173     2.176403     5.598720
3186         -3.298406     2.122524     9.342778     5.523001     4.781489
3187        -22.870900   -21.092907    16.828794   -39.211861   -14.409938
3188        -14.248864     1.255221    16.243199    -5.295460   -14.075283
3189         -0.564849     0.654527     2.408578    21.160658    16.308671
3190        -12.127022   -18.136812    -5.536861    -7.521840   -14.740608
3191          1.682288   -11.990126    -1.182592    -2.250385   -18.020168
3192          6.935294   -12.032179    -8.040059    12.372583     1.533635

      RNETMIG2015
1       -2.187333
2       18.293499
3      -10.543299
4        1.107861
5       -0.884411
6      -13.193961
7       -6.430868
8       -2.806406
9        2.346901
10      -2.931307
11      -1.752709
12      -5.291205
13      -5.411736
14       3.986270
15      -3.123961
16       5.350738
17       0.588052
18       2.684140
19      -5.387581
20      -0.264121
21       5.087600
22       8.417777
23      -1.998668
24     -14.711389
25       0.956790
26       2.757093
27       1.243830
28      -1.588308
29      -2.857058
30       0.442422
...           ...
3162    -4.995197
3163     0.059931
3164     0.593567
3165    -0.173022
3166    -4.024395
3167    -3.685304
3168    -3.414223
3170    -5.166460
3171     5.513554
3172    10.978525
3173   -22.600668
3174     1.126443
3175    19.309219
3176   -13.352750
3177   -10.635133
3178    -5.663940
3179     0.933652
3180     1.673640
3181     1.662823
3182     0.793743
3183     7.492114
3184     0.856839
3185     4.207414
3186    -2.198937
3187   -20.664059
3188   -14.070195
3189     1.520747
3190   -12.606351
3191     1.441961
3192     6.935294

[3142 rows x 100 columns]

Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too…)

In [111]:
def answer_five():

    return counties.groupby(
	CensusVariables.state_name).count().COUNTY.argmax()

In [112]:
answer_five()

C:\Users\simra\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:10: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  # Remove the CWD from sys.path while we load stuff.

'Texas'

Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use CENSUS2010POP.

In [113]:
def answer_six():
    top_threes = counties.groupby(
	CensusVariables.state_name
    )[CensusVariables.census_population].nlargest(3)
    states = top_threes.groupby(level=0).sum()
    return list(states.nlargest(3).index)

answer_six()

['California', 'Texas', 'Illinois']

Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

In [121]:
def answer_seven():
    seven = counties.iloc[(counties[CensusVariables.population_estimates].max(axis=1) - counties[CensusVariables.population_estimates].min(axis=1)).argmax()]
    return seven[CensusVariables.county_name]

answer_seven()

C:\Users\simra\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

'Harris County'

In this datafile, the United States is broken up into four regions using the "REGION" column.

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE2014.

In [124]:
def answer_eight():
    regions = counties_original_index[
	(counties_original_index[CensusVariables.region]==1) |
	(counties_original_index[CensusVariables.region]==2)]
    washingtons = regions[
	regions[CensusVariables.county_name].str.startswith("Washington")]
    grew = washingtons[washingtons[CensusVariables.population_2015] >
		       washingtons[CensusVariables.population_2014]]
    return grew[[CensusVariables.state_name,
		 CensusVariables.county_name]]

outcome = answer_eight()
print(outcome)

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County